<section class="comments">
  <div class="show-hide">Show comments</div>

  <div class="comment-wrapper">
    <font size="6">Add comment</font>
    <form class="comment-form">
      <div class="flex-pair">
        Your name:
        <input
          type="text"
          name="name"
          id="name"
          placeholder="Enter your name"
        />
      </div>
      <div class="flex-pair">
        Your comment:
        <input
          type="text"
          name="comment"
          id="comment"
          placeholder="Enter your comment"
        />
      </div>
      <div>
        <input
          id="submit-comment"
          type="submit"
          value="Submit comment"
          disabled
        />
      </div>
    </form>

    <font size="6">Comments</font>
    <ul class="comment-container">
      <li>
        <p>Bob Fossil</p>
        <p>
          Oh I am so glad you taught me all about the big brown angry guys...
        </p>
      </li>
    </ul>
  </div>
</section>
